.container {
  padding: 2rem;
}

.orgList {
  list-style: none;
  padding: 0;

  .orgItem {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    background-color: #f9f9f9;
    border-left: 4px solid #0070f3;
    border-radius: 8px;
    gap: 1.5rem;
  }
}

.logoContainer {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #0070f3;
}

.noLogo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  font-size: 0.8rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.paginationControls {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  .navButton {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #0070f3;
    color: white;
    border-radius: 4px;
    cursor: pointer;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}
.rightSection {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.updateButton {
  padding: 0.4rem 1rem;
  background-color: var(--color-accent); // bright attention-grabbing
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 0.85rem;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-hover); // hover effect color
  }
}
.statusDropdown {
  padding: 0.4rem;
  font-size: 0.85rem;
  border-radius: 4px;
  border: 1px solid var(--color-primary);
  background-color: white;
  color: var(--color-secondary);
  outline: none;

  &:hover {
    border-color: var(--color-hover);
  }
}
.editButtons {
  display: flex;
  gap: 1em;
  .cancelButton {
    padding: 0.4rem 1rem;
    background-color: #e74c3c;
    border: none;
    border-radius: 4px;
    font-size: 0.85rem;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #c0392b;
    }
  }
}
