@use "./abstract/reset";
@use "./abstract/modal";
@use "./abstract/button-links";
@use "./abstract/dropdown";
@use "./abstract" as ab;

:root {
	--max-width: 70em;
	--max-width-wide: 90em;

	--input-width: 30rem;

	// colors
	--dark: hsl(0, 0%, 6%);
	--white: hsl(26, 100%, 97%);
	--yellow: rgb(255, 217, 0);
	--blue: rgb(104, 199, 227);
	--grey: #555555;
	--success: #22bb33;
	--warning: #ff9100;
	--disabled: #7d7c7c;
	--active: #191919;

	// background

	// text
	--text: var(--white);
	--text-button: var(--dark);
	--text-button-error: var(--white);
	--text-grey: var(--grey);

	// input
	--input-bg: var(--bg-600);
	--input-border: #75747a;

	// error
	--error: #dc0000;
	--error-hover: hsl(from var(--error) h s calc(l + 10));
	--error-active: hsl(from var(--error) h s calc(l - 10));

	// clear
	--clear: var(--white);
	--clear-active: hsl(from var(--white) h s calc(l - 5));
	--clear-hover: hsl(from var(--white) h s calc(l + 3));

	// accent 1
	--accent-primary: var(--yellow);
	--accent-primary-hover: hsl(from var(--accent-primary) h s calc(l + 15));
	--accent-primary-active: hsl(from var(--accent-primary) h s calc(l - 10));

	// accent-2
	--accent-secondary: var(--blue);
	--accent-secondary-hover: hsl(
		from var(--accent-secondary) h s calc(l + 10)
	);
	--accent-secondary-active: hsl(
		from var(--accent-secondary) h s calc(l - 10)
	);

	// scroll bar
	--scrollbar-thumb: var(--accent-secondary);
	--scrollbar-track: hsla(0, 0%, 25%, 0.5);

	color-scheme: dark;
	accent-color: var(--accent-secondary);
	caret-color: var(--accent-secondary);
}

* {
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
	scrollbar-width: thin;
}

body {
	background-color: var(--white);
}

// input:user-invalid {
// border-color: var(--error);
// outline-color: var(--error);
// }

.error {
	font-size: 0.9rem;
	text-align: center;

   	color: var(--error);
}

.message {
	font-size: 0.9rem;
	text-align: center;

	color: var(--success);
}

div[data-load="true"],
div[data-empty="true"] {
	display: grid;
	height: 22rem;
	min-height: 22rem;
	max-height: 22rem;

	place-items: center;
}

input,
textarea,
select,
button[data-variant="select"] {
	width: min(100%, var(--input-width));
}

label {
	font-size: clamp(1rem, 1.5vi, 1.25rem);
	font-weight: 500;
	color: var(--accent-secondary);
}

input,
select,
textarea,
button[data-variant="select"] {
	font-size: 1.25rem;
	border-width: 2px;

	border-style: solid;
	border-color: var(--input-border);
	border-radius: 0.25em;

	background-color: var(--input-bg);
	--_pi: 0.5em;
	--_pb: 0.4em;

	padding-inline: var(--_pi);
	padding-block: var(--_pb);
}

select,
button[data-variant="select"] {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48IS0tIUZvbnQgQXdlc29tZSBGcmVlIDYuNS4yIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlL2ZyZWUgQ29weXJpZ2h0IDIwMjQgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZmlsbD0iI2ZmZDkwMCIgZD0iTTIwMS40IDM3NC42YzEyLjUgMTIuNSAzMi44IDEyLjUgNDUuMyAwbDE2MC0xNjBjMTIuNS0xMi41IDEyLjUtMzIuOCAwLTQ1LjNzLTMyLjgtMTIuNS00NS4zIDBMMjI0IDMwNi43IDg2LjYgMTY5LjRjLTEyLjUtMTIuNS0zMi44LTEyLjUtNDUuMyAwcy0xMi41IDMyLjggMCA0NS4zbDE2MCAxNjB6Ii8+PC9zdmc+);

	background-repeat: no-repeat;
	background-position: calc(100% - var(--_pi)) center;
	background-size: 1.5ch;
	appearance: none;

	text-align: left;
}

input[type="checkbox"] {
	width: auto;
}

textarea {
	min-height: 10rem;
	max-height: 20rem;
	resize: vertical;

	&:disabled {
		resize: none;
	}
}

h1 {
	font-size: clamp(1.75rem, 2.5vi, 2.25rem);
}

h2 {
	font-size: clamp(1.25rem, 1.75vi, 1.5rem);
}

h3 {
	font-size: clamp(1rem, 1.5vi, 1.25rem);
}

.italic {
	font-weight: 500;
	font-style: italic;
}
