.userCardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #f9f9f9;
}

.userCard {
  background-color: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 2px solid #ddd;
}

.name {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.email {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

.input {
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 300px;
  color: black;
}

.editButton,
.saveButton {
  background-color: #0070f3;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
//   margin-top: 1rem;
  transition: background 0.2s ease-in-out;
}

.editButton:hover,
.saveButton:hover {
  background-color: #005bb5;
}
.buttonGroup {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.cancelButton {
  background-color: #ddd;
  color: #333;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.cancelButton:hover {
  background-color: #bbb;
}